   
header{
background-color:#6b6055;
padding-top:10px;
padding-bottom:10px;
border-bottom: 3px solid white;
overflow: hidden;
  clear:both;
  position: fixed;
    z-index: 2;
    top:0;/* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}
header nav ul{
margin:50px;
padding-bottom:60px;
position: absolute;
right:20px;
top: 50pt;
font-size:20px; 
float:right;
}
header nav li{
display:inline;
}
nav a{
color:white;
text-decoration:none;
border: 1px solid white;
padding: 5px 20px;
}
 nav a:hover{
background-color: white;
color:#a3722f;
font-weight: bold;
font-size:30px;}


footer {
  
    clear:both;
  width: 100%;
 height:210px;
  background-color: #6b6055;
  color: white;
  text-align: center;
    padding-top:1%; 
}


/* PAGES*/
body{

    width: 100%;
    height: 600px;
    background-image: url(../img/backcof2.jpg);
    background-size: 94%;
    font-family: Arial;
    margin: 0;
    background-position:right;
    
    
  
   
}

/* log in */

.body{
    overflow: hidden;
    position: static;
    top:40%;
}

form{
    position: relative;
    z-index: 1;
margin-top:17%;
    margin-bottom:3%;
    text-align: center;
    background-color:whitesmoke;
    opacity: .7;
    padding:0.5%;
    border-radius: 5px;
    left: 32%;
    width:34%;
}



.img1 {
    width:70%;
}
.img {
    width:25%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 0;
    
}



 input {
   width: 60%;
  padding:2%;
  margin-top:3%;
    margin-bottom:0%;
    background-color:white;
    border-width:0px;
    border-radius:5%;
   
}


.enterb {
    width:60%;
    margin: 5%;
    padding:2%;
    font-size:15pt;
    background-color:darkslateblue;
    color:aliceblue;
    border:0;
    border-radius: 3%;
    
}
.enterb:hover{
    background-color:darksalmon;
}




.signup {
    color:saddlebrown;
    
}

.signup a {
    text-decoration: none;
    color:orangered;
    
}

.signup a:hover{
    
    color:cornflowerblue;
}

/* log in */




